.edit-gallery-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1200;
}

.edit-gallery-modal-content {
    background: #fff;
    border-radius: 5px;
    width: 50%;
    max-width: 1000px;
    padding: 22px;
}

.edit-gallery-modal-content h2 {
    margin-bottom: 5px;
    text-align: center;
    font-size: 30px;
}

.edit-gallery-label {
    display: block;
    margin-bottom: 5px;
}

.edit-gallery-input {
    width: calc(100% - 22px);
    padding: 9px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 20px;
}

.edit-gallery-image-previews img {
    max-width: 100px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.edit-gallery-image-previews {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.image-preview-container {
    position: relative;
}

.edit-gallery-preview-image {
    max-width: 100px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.remove-image-button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

