.news {
    margin: 100px auto 100px auto;
    color: #202228;
    padding: 10px;
    margin-left: 150px;
    margin-right: 150px;
}

.news h1 {
    text-align: center;
    color: #ff7f00;
}

.articles {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

.article {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.article h2 {
    margin: 0 0 10px;
    color: #202228;
}

.article p {
    margin: 0;
    color: #606060;
}
