.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: transparent;
    z-index: 10;
    background-color: #202228;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #ff7f00;
}

.header .nav ul {
    display: flex;
    list-style: none;
}

.header .nav ul li {
    margin: 0 15px;
}

.header .nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.header .nav ul li a:hover {
    color: #ff7f00;
}
