/* ArticleCard.css */

.article-card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
}

.article-image {
    width: 100%;
}

.article-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.article-content {
    padding: 20px;
}

.article-time {
    font-size: 14px;
    color: #888;
}

.article-content h2 {
    font-size: 24px;
    margin: 10px 0;
    color: #202228;
}

.article-content p {
    font-size: 16px;
    color: #555;
}

.article-author {
    display: flex;
    align-items: center;
    margin-top: 20px;
    height: 10%;
    width: 10%;
}

.article-author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
