.footer {
    width: 100%;
    padding: 40px 0;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
}

.footer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-logo img {
    width: 70px;
    margin-bottom: 10px;
    border-radius: 100px;
}

.footer-logo h1 {
    font-size: 1.5em;
    margin: 0;
    color: #333;
}

.footer-links {
    list-style: none;
    padding: 20px;
    display: flex;
    gap: 50px;
    margin: 0;
}

.footer-links li {
    display: inline;
}

.footer-links li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    transition: color 0.3s ease;
}

.footer-links li a:hover {
    color: var(--primary-color);
}

.footer-socials a {
    margin: 0 10px;
    color: #007bff;
    text-decoration: none;
}

.footer-socials a img {
    width: 24px;
    height: 24px;
}

.footer-socials a:hover {
    opacity: 0.6;
}

.footer-copyright {
    color: #6c757d;
    font-size: 14px;
    margin-top: 25px;
    text-align: center;
}
