.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    display: flex;
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
    max-height: 90%;
    overflow-y: auto; /* Ajoute un défilement vertical si le contenu dépasse la hauteur */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .popup-left {
    flex: 2;
    padding: 20px;
  }
  
  .popup-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .popup-right img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .register-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    margin-top: 20px;
    align-self: flex-start; /* Aligne le bouton à gauche */
  }
  